// Mixins

@mixin debug {
	outline: solid 1px red;
}

// CSS Variables

:root {
	--card-width: 416.667px;
	--cards-gap: 20px;

	@media (max-width: 1439px) {
		--card-width: 356.667px;
	}

	@media (max-width: 1199px) {
		--card-width: 296.667px;
	}

	@media (max-width: 991px) {
		--card-width: 335px;
	}

	@media (max-width: 767px) {
		--card-width: 510px;
	}

	@media (max-width: 575px) {
		--card-width: 100%;
	}
}

// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// Font families
$font-roboto: 'Roboto', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;

// Font Sizes
$text-font-size: 12px;

// Colors
$color-text: #444;
$color-highlight: #1abc9c;
$color-background: #f5f5f5;
$color-white: #fff;

// Global Config
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin-top: 70px;
	font-size: 1rem;

	@media (max-width: 991px) {
		margin-top: 0;
	}
}

ul {
	list-style-type: none;
	align-items: center;

	li a {
		text-decoration: none;
	}

	a:hover {
		color: $color-highlight;
	}
}

// Navbar

nav {
	display: flex;
	justify-content: center;

	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;

	border-style: none none solid none;
	border-width: 1px;
	border-color: #eee;

	@media (max-width: 991px) {
		position: static;
	}
}

.nav-container {
	display: flex;
	justify-content: space-between;

	padding: 0 30px;
	width: 100%;

	overflow: hidden;
	height: 70px;
	transition: height 0.2s linear;

	@media (max-width: 991px) {
		flex-direction: column;
		width: 690px;
		padding: 0;

		.logo-container {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}

	@media (max-width: 767px) {
		width: 510px;
	}

	@media (max-width: 575px) {
		width: 100%;
		padding: 0 15px;
	}
}

svg {
	display: none;
	height: 30px;
	width: 30px;
	align-self: center;

	@media (max-width: 991px) {
		display: block;
		margin-right: 10px;
	}
}

nav div ul {
	display: flex;

	@media (max-width: 991px) {
		display: none;
	}

	li {
		padding: 24px 22px;
	}

	a {
		font-family: $font-source-sans-pro;
		font-size: $text-font-size;
		font-weight: 400;
		letter-spacing: 3px;
		line-height: 22px;
		color: $color-text;
		font-weight: 400;
		margin-left: 2px;
	}
}

// Display navbar menu when ham button is clicked

.show-menu {
	height: 375px;
	@media (max-width: 991px) {
		li {
			padding: 14px 5px;
			width: 100%;
		}

		li:not(:first-child) {
			border-top: solid 1px #eee;
		}

		a {
			letter-spacing: 1px;
			font-weight: 700;
			font-size: 13px;
			margin-left: 0;
		}
	}
}

.show-items {
	@media (max-width: 991px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;

		position: static;
		visibility: visible;
	}
}

// Show home button active when the user is in the home section

.home-button-active {
	color: $color-highlight;
}

// Hamburger button animation: Credits to Mikael Ainalem https://codepen.io/ainalem/pen/LJYRxz

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #333;
	stroke-width: 5;
	stroke-linecap: round;
}

.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}

// Home Section

#home {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 120px 0;
	background-color: $color-background;
}

.home-intro {
	font-family: $font-roboto;
	font-size: 40px;
	line-height: 1.5;
	color: $color-text;
	text-align: center;
	width: 700px;
	margin-top: 1px;
	margin-bottom: 80px;

	span {
		color: $color-highlight;
	}

	@media (max-width: 991px) {
		width: 690px;
		margin-top: 0;
	}

	@media (max-width: 767px) {
		width: 510px;
	}

	@media (max-width: 575px) {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

#info-cards-container {
	display: flex;
	gap: var(--cards-gap);
	width: 1290px;
	height: 359px;

	overflow-x: scroll;
	flex-shrink: 0;

	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
	user-select: none;
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	@media (max-width: 1439px) {
		width: 1110px;
	}

	@media (max-width: 1199px) {
		width: 930px;
	}

	@media (max-width: 991px) {
		width: 690px;
	}

	@media (max-width: 767px) {
		width: 510px;
	}

	@media (max-width: 575px) {
		width: 100%;

		border-style: none solid;
		border-color: transparent;
		border-width: 15px;
	}
}

#info-cards-container::-webkit-scrollbar {
	display: none;
}

.info-card {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	padding: 0 64px;
	width: var(--card-width);
	height: 100%;
	flex-shrink: 0;

	scroll-snap-align: start;

	background-color: $color-white;
}

.info-card > * {
	display: inline-block;
	white-space: nowrap;
	color: $color-text;
}

.card-icon {
	fill: $color-highlight;
	margin: 71px 11px 21px 0;
	height: 57px;
}

.product-description-title {
	font-family: $font-source-sans-pro;
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 7px;
}

.product-description-text {
	font-size: 1rem;
	font-family: $font-roboto;
	font-weight: 400;

	height: 30px;
	margin-bottom: 31px;
	height: 28px;
}

.view-more-button {
	background-color: $color-text;
	color: $color-white;
	padding: 7px 17px;
	line-height: 20px;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: $text-font-size;
	font-weight: 600;
	font-family: $font-roboto;
	letter-spacing: 1px;
}

#browser-icon,
#browser-icon2 {
	width: 73.34443px;
	margin-left: 10px;
}

#paintbrush-icon {
	width: 38.5px;
}

#envelope-icon {
	width: 66.5px;
	margin-left: 3px;
}

#laptop-icon,
#laptop-icon2 {
	width: 73.35px;
	margin-left: 10px;
}

#book-open-icon,
#book-open-icon2 {
	width: 74px;
	margin-left: 10px;
}

#slider-navigation {
	display: flex;
	gap: 2rem;

	a {
		font-size: 50px;
	}
}

.red-button {
	color: red;
}
